html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, li, p, button {
    font-family: 'Albert Sans', sans-serif;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 1.9em;
}
h3{
    font-size: 1.6em;
}
button, p, li{
    font-size: 1.25em;
    line-height: 1.6;
}
body{
    background-color: #E9E2D0;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    text-align: center;
    /* outline: 1px solid red; */
    margin-left: 9%;
}
.navigation{
    height: 100px;
}
nav{
    width: 98%;
    padding: 1%;
    /* outline: 1px solid red; */
}
.nav{
    width: 50%;
    justify-content: center;
    margin-right: 9%;
    float: right !important;
    /* outline: 1px solid red; */
}
.navItem{
    padding: 10px;
    text-align: center;
    float: right;
    font-weight: bold;
    font-size: 1em;
}
.navItem:hover{
    cursor: pointer !important;
    /* text-decoration: underline !important; */
    border-bottom: 3px solid white;
}
.hamMenu{
    display: none;
}
/* Homepage Hero */
.hero{
    width: 100%;
    height: 700px;
}
.heroImg{
    background-image: url("../Images/indy-7.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 65%;
    margin-right: 10%;
    float: right;
    margin-bottom: 56px;
    padding: 25px;
}
.content{
    background-color: white;
    padding: 20px;
    width: 40%;
    position: relative;
    left: -20%;
    top: 25%;
    justify-content: center;
    box-shadow: -10px 10px #969080;
}
/* About Me Hero */
.aboutMeHero{
    width: 100%;
    height: 700px;
}
.aboutMeImg{
    background-image: url("../Images/indy-34.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 35%;
    margin-left: 6%;
    float: left;
    margin-bottom: 56px;
    padding: 25px;
}
.aboutMeContent{
    background-color: white;
    padding: 20px;
    width: 150%;
    position: relative;
    left: 90%;
    top: 10%;
    justify-content: center;
    box-shadow: -10px 10px #969080;
}
.mySkills{
    background-color: #969080;
    color: white;
}
.sectionHeader{
    text-align: center;
    padding-top: 25px;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexChild{
    display: flex;
    width: 30%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skillIcon{
    height: 150px;
    width: 150px;
}
#skillOne{
    background-image: url(../Images/informationArch_Icon_WhiteBackdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#skillTwo{
    background-image: url(../Images/interview_icon_whitebackdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#skillThree{
    background-image: url(../Images/webDevelopment_Icon_WhiteBackdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.workGrid{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: 
        "cwwcImg cwwcContent"
        "doeContent doeImg"
        "evergreenImg evergreenContent"
        ;
}
.cwwcImg{
    grid-area: cwwcImg;
    background-image: url(../Images/CWWC_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cwwcContent{
    grid-area: cwwcContent;
}
.doeImg{
    grid-area: doeImg;
    background-image: url(../Images/DOE_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.doeContent{
    grid-area: doeContent;
}
.evergreenImg{
    grid-area: evergreenImg;
    background-image: url(../Images/EverGreen_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* outline: 1px solid red; */
}
.evergreenContent{
    grid-area: evergreenContent;
}
.cardContent{
    padding: 0px 30px 30px 30px;
}
button{
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: #665E40;
}
.siteFooter{
    background-color: #665E40;
    height: 100px;
}
.footerNav{
    float: left;
    color: white;
}
@media only screen and (max-width: 700px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.25em;
    }
    button, p, li{
        font-size: 1em;
    }
    .hero{
        height: 740px;
    }
    .heroImg{
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 200px;
        padding: 0;
    }
    .nav{
        display: none;
    }
    .hamMenu{
        display: block;
        padding: 15px;
        float: right;
    }
    .content{
        background-color: white;
        padding: 10px;
        width: 80%;
        position: relative;
        left: 8%;
        top: 70%;
        justify-content: center;
    }
    .flexContainer{
        flex-direction: column;
    }
    .flexChild{
        width: 100%;
    }
    .workGrid{
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr 400px 1fr 400px 1fr;
        grid-template-areas: 
            "cwwcImg"
            "cwwcContent"
            "doeImg"
            "doeContent"
            "evergreenImg"
            "evergreenContent"
            ;
    }
}